---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    display: flex
}

figure {
  width: 230px;
  height:auto;
  color: #667;
  display: inline-block;


}
